.root {
  composes: focusable from '../composes.css';
  position: relative;
  display: inline-flex;
  width: 100%;
  border: none;
  margin-top: 12px;
  padding: 12px 16px;
  justify-content: center;
  align-self: center;
  border-radius: 3px;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 500;

  user-select: none;
  background: hsl(219deg 100% 58%);
  transition: all 0.25s;
  color: #fff;
}
.root:hover {
  background: hsl(219deg 100% 68%);
}

.children {
  color: #fff;
}

.transparent {
    opacity: 0;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
