@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.root {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.root::after {
  position: absolute;
  content: '';
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid currentColor;
  opacity: 0.3;
}

.root::before {
  position: absolute;
  content: '';
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: currentColor;
  animation: spinner 0.7s linear infinite;
}
