.passwordInputWrap {
  position: relative;
}

.passwordInput {
  composes: textInput from '../composes.css';
  padding: 10px 10px;
}
.passwordInput[value]:not([value='']) {
  padding: 10px 32px 10px 10px;
}
.passwordInput[value=''] .showPasswordButton {
  opacity: 0;
}

.showPasswordButton {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 2px;
  right: 2px;
  width: 32px;
  height: calc(100% - 4px);
  border: none;
  padding: 0;
  background: transparent;
  opacity: 0.3;
  cursor: pointer;
  transition: opacity 0.25s;
}
.showPasswordButton:hover {
  opacity: 0.8;
}
.showPasswordButton.hidden {
  opacity: 0;
}
.showPasswordButton:focus {
  opacity: 0.8;
}
